version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - MONGO_URI=${MONGO_URI}
      - ADMIN_ID_1=${ADMIN_ID_1}
      - ADMIN_ID_2=${ADMIN_ID_2}
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_PORT=${MONGO_PORT}
      - MONGO_DB_NAME=${MONGO_DB_NAME}
      - MONGO_HOST_EXTERNAL=${MONGO_HOST_EXTERNAL}
      - MONGO_PORT_EXTERNAL=${MONGO_PORT_EXTERNAL}


